/* Theming */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); 
 @import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

 body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

table {
    font-family:"Poppins", Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    border-collapse: collapse;
    width: 40%;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-weight: 500;
    font-style: italic;

  }

  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #4CAF50;
    text-decoration: underline;
    -webkit-text-decoration-color: #789909;
            text-decoration-color: #789909;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  .p1 {
    font-family:"Poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #323625;
    word-spacing: 0.1ex;
    background-color: #90a1e2;
    /* border: 1px solid #dddddd;
    border-width: 0.5ex; */
    /* border-radius: 2ex; */
  }

  .p2 {
    font-family:"Poppins", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .p3 {
    font-family:"Poppins", Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-bottom: 10px;
    line-height: 2ex;
    word-spacing: normal;
  }

  .p4 {
    font-family:"Poppins", Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-bottom: 10px;
  }

  li {
    font-family:"Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 500;
    padding-left: 5px;
    /* padding-bottom: 10px; */
    display:block;
  }

  footer {
    font-family:"Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fae1f1;
    margin-top: 1ex;
  }

  footer a:hover {
    color: #ffcc00;
  }

  footer a {
    text-decoration: none;
  }



  :root {
    --white: #f9f9f9;
    --black: #36383f;
    --grey: #85888c;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
.header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--grey);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
}

.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover {
    background-color: var(--grey);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

.hamb-line {
    background-color: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;

}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line:before {
    transform: rotate(-40deg);
    top: 0;
    background-color: red;
}

.side-menu:checked ~ .hamb .hamb-line:after {
    transform: rotate(40deg);
    top: 0;
    background-color: red;
}

video {
  margin-left: 10px;
}

/* desktop-specific styles */
@media (min-width: 767px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--grey);
    }

    .hamb {
        display: none;
    }

    img {
      max-width: 95%;
      height: auto;
      margin-left: 10px;
    }
}

/* Small devices (iphone SE) styles */
@media (max-width: 375px) {

  .logo {
    font-size: 55px;
  }

  .p3 {
    font-size: smaller;
    margin-left: 1%;
    margin-right: 1%;
  }

  li {
    font-size: small;
  }

  .p2 {
    font-size: medium;
    font-weight: 600;
  }

  td {
    font-size: smaller;
  }
  
}

/* Galaxy Fold device */
@media (max-width: 280px) {

  .logo {
    font-size: 40px;
  }

  .hamb {
    cursor: pointer;
    float: right;
    padding: 30px 10px;
  }

  .hamb-line {
    background-color: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 22px;
  }
  
}

/* non-desktop styles */
@media (max-width: 766px) {

  .index_sub_container .adSection img {
    position:sticky;
    width: 40%;
    height: 40%;
    float: right;
    top: 200px;
  }

  img {
    max-width: 95%;
    height: auto;
    padding-left: 3%;
  }

  video {
    max-width: 95%;
    max-height: 85%;
  }

  table {
    font-size: smaller;
    width: 95%;
    margin-left: 1%;
  }

  .flex-item-index-top .p2{
    font-size: small;
  }

  .flex-item-index-top .p3{
    font-size: smaller;
  }

  .flex-item-index .p4{
    font-size: x-small;
  }

  .flex-item-index .p3{
    font-size: smaller;
  }

  .flex-item-index img{
    max-width: 100%;
    max-height: 70px;
  }

  .flex-item-index video{
    max-width: 100%;
    max-height: 70px;
  }

  .flex-item-index-top img{
    max-width: 100%;
    max-height: 70px;
    display: none;
  }

  .flex-item {
    max-width: 100px;
  padding: 1px;
  align-items: start;
  }
  
  
  .flex-item .p2{
    font-size:x-small;
  }

  .flex-item .p4{
    font-size:xx-small;
  }

  .flex-item_overview {
    max-width: 100%;
    align-items: start;
  }

  .overview_main .overview_title {
    font-size: 1px;
    font-family: sans-serif;
    color: white;
    display: none;
  }

  .overview_main .p4 {
    font-size: small;
    justify-content: center;
  }

  .overview_main {
    background-position: bottom, left;
  }

  .adSection {
    display: none;
  }

}

/* touch-enabled devices */
@media (pointer: coarse) {

  .link {
    cursor: pointer;
    padding: 15px 20px;
  }
}

.main_container_overview {
  display: flex; /* or inline-flex */
  justify-content:center;
  /* flex-direction: row;  */
  align-items: flex-start;
  margin: 20px;
  /* flex-wrap: wrap-reverse; */
  flex-flow: row nowrap;
}

.container {
  display: flex; /* or inline-flex */
  justify-content:center;
  /* flex-direction: row;  */
  align-items: flex-start;
  margin: 20px;
  /* flex-wrap: wrap-reverse; */
  flex-flow: row nowrap;
}

.flex-item {
  max-width: 30%;
  padding: 10px;
  align-items: start;
  align-self:flex-start;
}

.flex-item_overview {
  max-width: 75%;
  padding: 10px;
  
}

.flex-item_overview .p4::first-letter {
  font-size: 40px;
}

/* .p1 {
  text-shadow: yellow 8px 8px 30px;
} */

.p4 ul li {
  font-size: 12px;
}

.flex-item-index {
  max-width: 400px;
  padding: 10px;
  align-items: start;
  flex: 0 1 400px;
}

.flex-item-index video {
  width: 400px;
  height: 230px;
}

.flex-item-index img {
  width: 400px;
  height: 230px;
}

.p2 {
  text-align: center;
}

.flex-item-index-top {
  max-width: 600px;
  padding: 10px;
  align-items: center;
}

.flex-item-index-top img {
  width: 600px;
  height: 300px;
}

.flex-item-index-top .p2{
  font-weight: 600;
}

[class^="main_container"] { 
  display: grid;
  place-items: center;
  justify-content: center;
  flex: 1 1 150px; /* stretching */
}

.index_sub_container { 
  display: grid;
  grid-template-columns:  auto auto;
  margin: 0%;
  padding: 0%;
}


.index_sub_container .adSection img {
  position:sticky;
  width: 60%;
  height: 60%;
  float: right;
  top: 100px;
}

.index_sub_container .nonAdSection {
  border: #323625;
  max-width: 80%;
}

.music_sub_container { 
  display: grid;
  grid-template-columns:  auto auto;
  margin: 0%;
  padding: 0%;
}

.music_sub_container .adSection img {
  position:sticky;
  float: right;
  top: 100px;
}

.music_sub_container .nonAdSection .flex-item {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.music_sub_container .flex-item img {
  width: 70%;
  height: 70%;
}

.overview_main {
  background-image: url('https://i.pinimg.com/originals/70/48/b6/7048b6d470c2841dbdbe2db8b68d7d1a.jpg');
  background-size: cover;
  background-position: center;
}

.overview_main .p4 {
  color: #f1f1f1;
}

.overview_main .overview_title {
  font-size: 1300%;
  text-align: center;
  font-family: "Protest Revolution", sans-serif;
  color: white;
}

.index_body {
  background-image: url('https://img.freepik.com/free-photo/abstract-blur-empty-green-gradient-studio-well-use-as-background-website-template-frame-business-report_1258-52616.jpg?w=826&t=st=1709272349~exp=1709272949~hmac=bb6935617ce711082025ca017e9383dc6e73b1a58fb123492ffb7ed0433b0466');
  background-size: cover;
  background-position: center;

  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
    gap: 5px;
}

.grid-item {
    background-color: rgb(238, 234, 234);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease; /* Adds a smooth transition effect */
}

/* Add animation on hover */
.grid-item:hover {
    transform: scale(1.1); /* Increases the size of the grid item on hover */
    background-color: #ded9fa; /* Change background color on hover */
    /* transform: rotate(45deg);  Rotate grid item on hover  */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Apply box shadow on hover */
    
}

:focus {
    outline: 2px solid #a9b6b1; /* Example focus style */
    background-color: lightblue;
}

.contactus_main {
  background-image: url('https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: top;
}

.contactus_main .p4 {
  color: #f1f1f1;
}

.contactus_main .contactus_title {
  font-size: 200%;
  text-align: center;
  font-family:"Poppins", Verdana, Geneva, Tahoma, sans-serif;
  color: #0c0c0c;
  font-weight: 500;
}

.contactus_main_container_overview {
  display: flex; /* or inline-flex */
  justify-content:center;
  /* flex-direction: row;  */
  align-items: flex-start;
  margin: 20px;
  /* flex-wrap: wrap-reverse; */
  flex-flow: row nowrap;
}

.form_card {
  background-color: white;
  padding: 30px 20px 30px 20px; /* top, right, bottom, left */
  max-width: fit-content;
  border: 1px solid #ccc; /* Example border style */
  border-radius: 5px; /* Adjust the radius value to control the roundness */
  margin: 0 auto; /* Set left and right margins to auto */
}

input, select#selectField {
  padding: 10px; /* Adjust padding as needed */
  height: 30px;
  border: 1px solid #ccc; /* Example border style */
  border-radius: 5px; /* Adjust the radius value to control the roundness */
}

label:not([for="fname"]):not([for="lname"]) + input[type="text"] , select#selectField,  input[type="submit"]{
  display: block; /* Ensure the input is displayed as a block-level element */
  width: 100%; /* Set width to 100% to occupy the full width available */
  max-width: 100%;
}

label[for="selectField"] {
  font-size: 80%;
}

select#selectField {
  padding: 1px; /* Adjust padding as needed */
}

fieldset {
  border: 1px solid #ccc;
  font-size: small;
  border-radius: 5px;
  padding: 0px;

}

fieldset label {
  font-size: smaller;
}

input[type="radio"] {
  margin-left: 30px;
  margin-right: 30px;
}

input[type="submit"] {
  background-color: blueviolet;
  color: white;
  padding: auto;
  margin: auto;
  height: fit-content;
}

legend {
  margin-left: 10px; /* Adjust the value as needed */
  width: auto;
  max-width: auto;
}